:root {
    --MainFont: "Inter", sans-serif;
}

nav{
    box-shadow: inset 0px 10px 15px 0px #0000000a,0px 4px 5px 0px #00000026;
    background: #ffffff00;
    position: sticky;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.nav__list {
    list-style: none;
    display: flex;
    padding: 19px 82px; 
    width: 100%;
    justify-content: space-between;
}

.nav__link {
    text-decoration: none;
    color: #262728;
    font-family: var(--MainFont);
    font-size: 13px;
    font-weight: 400;
    line-height: 18.57px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}